<div class="container m-5" style="background-color: #FFFFF0; ">

      <div>
        <h3 class="mt-2 mb-2" align="center">Cadastro</h3>
      </div>
      <form style="text-align: left;" ng-controller="controler">
        <div class="form-group">
          <label for="exampleInputEmail1">Email </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #emailInput>
        </div>
        <button type="submit" class="btn btn-primary"
        (click) ="submit(emailInput.value)"
        >Submit</button>
      </form> 

      <p>{{ email }}</p>


</div>