<div class="container mt-3">
  <div>
    <h3 class="mb-3" align="center">
      Cadastrados
    </h3>
  </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conta of contas, let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ conta.email }}</td>
          </tr>
        </tbody>
      </table>
</div>
